[Unit]
Description=Backup Tool by Joseph Garnier
Requires=default.target
After=graphical.target

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/backup_tool/src/backup_tool.sh onstartup
RemainAfterExit=true
ExecStop=/bin/bash /opt/backup_tool/src/backup_tool.sh onshutdown

[Install]
WantedBy=default.target